*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#132c4d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full{
    width: 50%;
    max-width: 1000px;
    min-height: 100px;
    background-color: rgb(245, 239, 231);
    margin: 0;
    display : grid;
    grid-template-columns: 2fr 4fr;
}

.left{
    position: initial;
    background-color: rgb(126, 219, 231);
    padding: 20px;
}

.right{
    position: initial;
    background-color: rgb(162, 202, 206);
    padding: 20px;
}
    
.myimage, .contact, .skills, .language, .hobbies, .title, 
.summary, .experience, .education, .project{
    margin-bottom: 30px;
}

.myimage{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.h2{
    background-color: rgb(4, 96, 150);
}

hr{
    color: rgb(13, 180, 83);
}